.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 100%;

}

input {
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

button {
  margin: .5rem auto;
}

h3,h4 {
  margin: 1rem 0.5rem;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 2%;
}

.ReactModal {

}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 700ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

