body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.controlls{
    display: flex;
    margin:auto;
    width: 600px;
    justify-content: space-around;
}

.controlls>h1{
    display: inline;
    font-variant: small-caps;
}

.container{
    margin: auto;
    width: 600px;
    height: 600px;
    margin-bottom: 50px;
}

.cell{
    border: 3px solid black;
    width: 200px;  
    height: 200px;
    display: inline;
}

.cell>h1{
    text-align: center;
    font-size: 80px;
    
}

.row{
    display: flex;
}

.restart{
    display: flex;
    justify-content: center;
}

#restart{
    width: 100px;
    height: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}