h1{
    text-align: center;
    padding-top: 25%;
}

.cell{
    width: 50%;
    display: inline;
}

.container{
    display: flex;
    flex-direction: column;
    height: 800px;
}

.row{
    height: 50%;
    display: flex;
}